In [1]:
import pandas as pd

# Load datasets
load_df = pd.read_csv(r"C:\Users\JOJO\Documents\ElectrcityForecasting\data\load_raw.csv")
temp_df = pd.read_csv(r"C:\Users\JOJO\Documents\ElectrcityForecasting\data\temp.csv")

# Preview
print("Load Data:")
print(load_df.head())

print("\nTemperature Data:")
print(temp_df.head())

Load Data:
   zone_id  year  month  day      h1      h2      h3      h4      h5      h6  \
0        1  2004      1    1  16,853  16,450  16,517  16,873  17,064  17,727
1        1  2004      1    2  14,155  14,038  14,019  14,489  14,920  16,072
2        1  2004      1    3  14,439  14,272  14,109  14,081  14,775  15,491
3        1  2004      1    4  11,273  10,415   9,943   9,859   9,881  10,248
4        1  2004      1    5  10,750  10,321  10,107  10,065  10,419  12,101

   ...     h15     h16     h17     h18     h19     h20     h21     h22  \
0  ...  13,518  13,138  14,130  16,809  18,150  18,235  17,925  16,904
1  ...  16,127  15,448  15,839  17,727  18,895  18,650  18,443  17,580
2  ...  13,507  13,414  13,826  15,825  16,996  16,394  15,406  14,278
3  ...  14,207  13,614  14,162  16,237  17,430  17,218  16,633  15,238
4  ...  13,845  14,350  15,501  17,307  18,786  19,089  19,192  18,416

      h23     h24
0  16,162  14,750
1  16,467  15,258
2  13,315  12,424
3  13,580  11,727
4  17,006  16,018

[5 rows x 28 columns]

Temperature Data:
              DateTime  T01  T02  T03  T04  T05  T06  T07  T08  T09  T10  T11
0  2004-01-01 00:30:00   46   38   44   45   42   44   45   43   41   42   36
1  2004-01-01 01:30:00   46   36   42   43   42   43   44   44   39   43   32
2  2004-01-01 02:30:00   45   35   40   41   40   42   41   42   36   43   31
3  2004-01-01 03:30:00   41   30   36   37   39   38   40   34   35   39   30
4  2004-01-01 04:30:00   39   30   34   33   40   38   35   30   33   35   34

In [2]:
load_df.shape

(33000, 28)

In [3]:
temp_df.shape

(39414, 12)